/***************************************************
GLOBAL
***************************************************/
* {
    box-sizing: border-box;
    --color-primary: #3DFA28;
    --color-primary-light: #a5fc9c;
    --color-secondary: #AD0070;
    --color-secondary-light: #FA28AF;
    --color-primary-dark: #1EAD0E;
    --color-text: black;

}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

iframe {
    max-width: 100%;
    display: block;
}

figure {
    margin: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

body {
    word-wrap: break-word;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    font-size: 18px;
    color: var(--color-text);
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

main {
    padding: 20px;
}

h1 {
    font-size: 35px;
    text-align: center;
}

h2 {
    padding: 5px 8px;
}

h3 {
    font-size: 22px;
}

.choiceUser {
    border: 1px solid var(--color-primary-dark);
    border-radius: 20px;
    text-align: center;
    margin: 25px auto;
    width: 50%;
    padding: 25px;
}

select,
option {
    border: 1px solid var(--color-primary-dark);
    outline: none;
    text-align: center;
    padding: 5px 3px;
}

select:focus,
option:focus {
    outline: 1px solid var(--color-primary-dark);
}

#userData {
    border: 1px solid var(--color-primary-dark);
    border-radius: 20px;
    margin: 25px auto;
    width: 80%;
    padding: 25px;
}

.actionUser {
    text-align: center;
    padding: 15px;
}

.title {
    font-weight: bold;
}

ul {
    padding: 0 10px;
}

li::before {
    content: "•";
    color: var(--color-secondary-light);
    padding: 0 5px;
}

.uncompletedTask {
    color: green;
}

.completedTask {
    color: red
}

.hiddenTask {
    display: none;
}

button {
    background-color: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    margin: 8px 2px;
}

button:hover {
    background-color: white;
    color: var(--color-primary-dark);
    transition: 0.5s;
    cursor: pointer;
}

#userTask h3 {
    text-align: center;
}


.deleteTask {
    border: none;
    background: none;
    color: var(--color-primary-dark);
    cursor: pointer;
}

.deleteTask:hover {
    color: var(--color-secondary);
    text-decoration: underline;
    transition: 0.5s;
}